@page
@model Fitness.Pages.IndexModel

@{
    var firstDayNextYear = new DateTime(DateTime.Now.Year + 1, 1, 1);
    var lastDayLastYear = new DateTime(DateTime.Now.Year, 1, 1) - TimeSpan.FromDays(1);
    var today = DateTime.Now;
    var yesterday = today - TimeSpan.FromDays(1);
}

<header id='pushups'><br><br>PUSHUPS</header>
<section>
    <article id='pushups'>
        @Model.Pushups ✔
    </article>
    <article style='font-size: 0.5rem; line-height: 0.5rem'>
        &nbsp;<br />
        @(Model.Pushups / 50)% of year goal of @Model.YearGoal<br />
        &nbsp;<br />
        @(Model.YearGoal - Model.Pushups) or @((Model.YearGoal - Model.Pushups) / (firstDayNextYear - yesterday).Days) per day to do<br />
        @(Model.Pushups / (today - lastDayLastYear).Days) done per day<br />
        &nbsp;
    </article>
    <article>
        <svg style="height: 1.5rem; border-left: 2px solid white; border-bottom: 2px solid white; filter: drop-shadow(0 5px 10px #000);" viewBox="0 0 365 100" class="chart">
            <polyline fill="hsla(32, 100%, 22%, 0.25)" stroke="none" stroke-width="0" points="@Model.SummedPushupsGraphBackground" transform="translate(0, 100) scale(1,-1)" />
            <polyline fill="hsla(208, 100%, 22%, 0.25)" stroke="none" stroke-width="0" points="@Model.DailyPushupsGraphBackground" transform="translate(0, 100) scale(1,-1)" />
            <polyline fill="none" stroke="hsla(208, 100%, 44%, 1)" stroke-width="2" points="@Model.DailyPushupsGraph" transform="translate(0, 100) scale(1,-1)" />
            <polyline fill="none" stroke="hsla(32, 100%, 44%, 1)" stroke-width="2" points="@Model.SummedPushupsGraph" transform="translate(0, 100) scale(1,-1)" />
        </svg>
    </article>
</section>
