@page
@model Fitness.Pages.IndexModel

@{
    var firstDayNextYear = new DateTime(DateTime.Now.Year + 1, 1, 1);
    var lastDayLastYear = new DateTime(DateTime.Now.Year, 1, 1) - TimeSpan.FromDays(1);
    var today = DateTime.Now;
    var yesterday = today - TimeSpan.FromDays(1);
}

<section left>

    <h1>PUSHUPS</h1>
    <h2>@Model.Pushups ✔</h2>

    @if (Model.YearGoal > 0)
    {
        <p>@(100 * Model.Pushups / Model.YearGoal)% of year goal of @Model.YearGoal</p>
        <p>@(Model.YearGoal - Model.Pushups) or @((Model.YearGoal - Model.Pushups) / (firstDayNextYear - yesterday).Days) per day to do</p>
    }
    <p>@(Model.Pushups / (today - lastDayLastYear).Days) done per day</p>

    <svg viewBox="0 0 365 100" class="chart">
        <polyline fill="hsla(32, 100%, 22%, 0.25)" stroke="none" stroke-width="0" points="@Model.SummedPushupsGraphBackground" transform="translate(0, 100) scale(1,-1)" />
        <polyline fill="hsla(208, 100%, 22%, 0.25)" stroke="none" stroke-width="0" points="@Model.DailyPushupsGraphBackground" transform="translate(0, 100) scale(1,-1)" />
        <polyline fill="none" stroke="hsla(208, 100%, 44%, 1)" stroke-width="2" points="@Model.DailyPushupsGraph" transform="translate(0, 100) scale(1,-1)" />
        <polyline fill="none" stroke="hsla(32, 100%, 44%, 1)" stroke-width="2" points="@Model.SummedPushupsGraph" transform="translate(0, 100) scale(1,-1)" />
    </svg>

</section>
