@page
@model Fitness.Pages.IndexModel

@{
    var firstDayNextYear = new DateTime(DateTime.Now.Year + 1, 1, 1);
    var firstDayThisYear = new DateTime(DateTime.Now.Year, 1, 1);
    var today = DateTime.Now;
    var daysInYear = (firstDayNextYear - firstDayThisYear).Days;
    var daysSoFar = (today - firstDayThisYear).Days;
    var lastDayLastYear = new DateTime(DateTime.Now.Year, 1, 1) - TimeSpan.FromDays(1);
    var yesterday = today - TimeSpan.FromDays(1);

    var percentageOfYear = 1f * daysSoFar / daysInYear;

    var pushupsPerDay = Math.Round(1f * (Model.YearGoal - Model.Pushups) / (firstDayNextYear - yesterday).Days, 0);

    var difference = Math.Round(Model.Pushups - daysSoFar * pushupsPerDay, 0);
}

<section left>

    <header>
        <h1>PUSHUPS</h1>
        @Model.Pushups ✔
    </header>

    @if (Model.YearGoal > 0)
    {
        <p>@(100 * Model.Pushups / Model.YearGoal)% of year goal of @Model.YearGoal</p>
        <p>@(Model.YearGoal - Model.Pushups) or @Math.Round(pushupsPerDay, 0) per day to do</p>
    }
    <p>@(Model.Pushups / (today - lastDayLastYear).Days) done per day</p>
    @if (Model.YearGoal > 0)
    {
        <p>@Model.PushupsToday of @pushupsPerDay done today</p>
        <p>@Math.Abs(difference) @(difference > 0 ? "ahead" : "behind")</p>
    }

    <svg viewBox="0 0 365 100" class="chart">
        <polyline fill="hsla(32, 100%, 22%, 0.25)" stroke="none" stroke-width="0" points="@Model.SummedPushupsGraphBackground" transform="translate(0, 100) scale(1,-1)" />
        <polyline fill="hsla(208, 100%, 22%, 0.25)" stroke="none" stroke-width="0" points="@Model.DailyPushupsGraphBackground" transform="translate(0, 100) scale(1,-1)" />
        <polyline fill="none" stroke="hsla(208, 100%, 44%, 1)" stroke-width="2" points="@Model.DailyPushupsGraph" transform="translate(0, 100) scale(1,-1)" />
        <polyline fill="none" stroke="hsla(32, 100%, 44%, 1)" stroke-width="2" points="@Model.SummedPushupsGraph" transform="translate(0, 100) scale(1,-1)" />
    </svg>

</section>

@if (User.Identity.IsAuthenticated == true)
{
    <section right>
        <header>
            <h1>@User.Identity.Name</h1>
        </header>
        <form asp-page="add" method="post">
            <input type="hidden" name="amount" value="10">
            <input type="hidden" name="training" value="pushups">
            <input type="hidden" name="redirectto" value="/">
            <input type="submit" value="add 10 pushups">
        </form>
        <form asp-page="add" method="post">
            <input type="hidden" name="amount" value="20">
            <input type="hidden" name="training" value="pushups">
            <input type="hidden" name="redirectto" value="/">
            <input type="submit" value="add 20 pushups">
        </form>
        <form asp-page="add" method="post">
            <input type="hidden" name="amount" value="30">
            <input type="hidden" name="training" value="pushups">
            <input type="hidden" name="redirectto" value="/">
            <input type="submit" value="add 30 pushups">
        </form>
    </section>
}
