<nav @attributes="Attributes">
    @foreach (var entry in Entries)
    {
        if (Authorized?.Contains(entry) == true)
        {
            <AuthorizeView>
                <Authorized>
                    <NavLink href="@("/" + (entry == "home" ? "" : entry))" Match="NavLinkMatch.All">
                        @if (Names != null)
                        {
                            @(Names.ContainsKey(entry.ToLowerInvariant()) ? Names[entry.ToLowerInvariant()] : entry.ToLowerInvariant())
                        }
                        else
                        {
                            @entry.ToLowerInvariant()
                        }
                    </NavLink>
                </Authorized>
            </AuthorizeView>
        }
        else
        {
            <NavLink href="@("/" + (entry == "home" ? "" : entry))" Match="NavLinkMatch.All">
                @if (Names != null)
                {
                    @(Names.ContainsKey(entry.ToLowerInvariant()) ? Names[entry.ToLowerInvariant()] : entry.ToLowerInvariant())
                }
                else
                {
                    @entry.ToLowerInvariant()
                }
            </NavLink>
        }
    }
</nav>


@code {
    [Parameter]
    public string[] Entries { get; set; } = Array.Empty<string>();

    [Parameter]
    public Dictionary<string, string> Names { get; set; } = new Dictionary<string, string>();

    [Parameter]
    public string[] Authorized { get; set; } = Array.Empty<string>();

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> Attributes { get; set; } = new Dictionary<string, object>();
}
