@page
@model IndexModel
@using Humanizer
<section left>
    <h1>EV State</h1>

    <a href="/start">start</a>
    <a href="/stop">stop</a>

    @if (Model.ChargingState.Any())
    {
        var current = Model.ChargingState.First();
        <p>charging @@ @(((double)current.ActivePower).ToMetric(hasSpace: true, decimals: 1) + "W")</p>
        <p>@(((double)current.EnergyUsed).ToMetric(hasSpace: true, decimals: 1) + "Wh") used</p>
    }
    else
    {
        <p>not charging</p>
    }

    <h1>History</h1>
    <style>
        table {
            width: 10rem;
            padding-top: 0.125rem;
            padding-bottom: 0.125rem;
        }

            table * {
                text-align: left;
                font-weight: 100;
            }
    </style>

    <table style="width: 10rem">
        <thead>
            <tr>
                <th>today</th>
                <th>yesterday</th>
                <th>two days ago</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                @foreach (var day in Model.CostPerDay.Take(3))
                {
                    <td>@day.cost CHF</td>
                }
            </tr>
            <tr>
                @foreach (var day in Model.CostPerDay.Take(3))
                {
                    var charge = ((day.charge > 0.5) ? day.charge : 0) * 1000;
                    if (charge > 0)
                    {
                        <td>@charge.ToMetric(hasSpace: true, decimals: 2)Wh</td>
                    }
                    else
                    {
                        <td>0 kWh</td>
                    }
                }
            </tr>
        </tbody>
    </table>

    <table style="width: 10rem">
        <thead>
            <tr>
                <th>this week</th>
                <th>last week</th>
                <th>two weeks ago</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                @foreach (var day in Model.CostPerWeek.Take(3))
                {
                    <td>@day.cost CHF</td>
                }
            </tr>
            <tr>
                @foreach (var day in Model.CostPerWeek.Take(3))
                {
                    var charge = ((day.charge > 0.5) ? day.charge : 0) * 1000;
                    if (charge > 0)
                    {
                        <td>@charge.ToMetric(hasSpace: true, decimals: 2)Wh</td>
                    }
                    else
                    {
                        <td>0 kWh</td>
                    }
                }
            </tr>
        </tbody>
    </table>
</section>
