@page "{slug}"
@model Homepage.Pages.BlogModel

@using Homepage

@{
    Layout = "_Layout";
}

@if (Model.HasContent)
{
    <section blog>
        <article>
            <header style="background-image: url('@Model.HeroImage')">
                <h1>@Model.Metadata.Title</h1>
                <section meta>
                    <p>written by @Model.Metadata.Author</p>
                    <p>published on the @Model.Metadata.Date.ToShortDateString()</p>
                </section>
            </header>
            @Html.Raw(Model.BlogContent)
        </article>
    </section>
}