@page "{slug}"
@model Homepage.Pages.BlogModel

@using Homepage

@{
    Layout = "_Layout";
}

@if (Model.HasContent)
{
    <section blog>
        <article>
            <header style="background-image: url('@Model.HeroImage')">
                <h1>@Model.Metadata.Title</h1>
                <section meta>
                    <p>written by @Model.Metadata.Author</p>
                    <p>published on the @Model.Metadata.Date.ToShortDateString()</p>
                </section>
            </header>
            @Html.Raw(Model.BlogContent)

            <script async src="https://comments.app/js/widget.js?3" data-comments-app-website="J7TQ0O4h" data-limit="5" data-dark="1"></script>
        </article>
    </section>
}