@page "/code"
@using Conesoft.DataSources
@using Humanizer
@using System.Text.Json
@using IO = System.IO

@inject IDataSources dataSources

<tile-group>
    <h1>code</h1>
    <tile size="big" class="split wideleft" title="personal projects">
        @foreach (var repository in personalRepositories.Take(10))
        {
            <a href="@repository.html_url" target="_blank">
                @repository.name
            </a>
            <i>@repository.updated_at.Humanize().Replace(" ago", "")</i>
        }
    </tile>
    <tile size="normal" class="fullscreenlink" title="/davepermen">
        <a href="https://github.com/davepermen" target="_blank">
            <img src="/logos/github.webp" />
        </a>
    </tile>
    <tile size="wide" class="split wideleft" title="conesoft projects">
        @foreach (var repository in conesoftRepositories.Take(4))
        {
            <a href="@repository.html_url" target="_blank">
                @repository.name
            </a>
            <i>@repository.updated_at.Humanize().Replace(" ago", "")</i>
        }
    </tile>
    <tile size="normal" class="fullscreenlink" title="/conesoft">
        <a href="https://github.com/conesoft" target="_blank">
            <img src="/logos/github.webp" />
        </a>
    </tile>
</tile-group>

<style>
    tile * {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    tile.wideleft {
        grid-template-columns: 2fr 1fr;
        padding: 0 0.25rem;
    }

        tile.wideleft a {
            text-align: left;
        }

        tile.wideleft i {
            font-size: 1rem;
            text-align: right;
        }

    tile.fullscreenlink {
        align-content: stretch;
        justify-content: stretch;
        background: black;
    }

        tile.fullscreenlink a {
            display: grid;
            grid-template-columns: 1fr 5fr 1fr;
            grid-template-rows: 1fr 5fr 1fr;
            justify-self: stretch;
            align-self: stretch;
        }

            tile.fullscreenlink a img {
                grid-row: 2;
                grid-column: 2;
                justify-self: stretch;
                align-self: stretch;
            }
</style>

@functions
{
    async Task<Data.GitHub.Repository[]> GetRepositories(string organisationOrUsername)
    {
        var path = IO.Path.Combine(dataSources.LocalDirectory, "FromSources", "Github Repositories", $"{organisationOrUsername}.json");
        if (IO.File.Exists(path))
        {
            return JsonSerializer.Deserialize<Data.GitHub.Repository[]>(await IO.File.ReadAllTextAsync(path));
        }
        return Array.Empty<Data.GitHub.Repository>();
    }
}

@code
{
    Data.GitHub.Repository[] personalRepositories = Array.Empty<Data.GitHub.Repository>();
    Data.GitHub.Repository[] conesoftRepositories = Array.Empty<Data.GitHub.Repository>();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        this.personalRepositories = await GetRepositories("davepermen");
        this.conesoftRepositories = await GetRepositories("conesoft");
    }
}